.seller-selling-image {
  margin: auto;
  text-align: center;
  width: 100%;
  background: #ebebeb;
  border-radius: 10px;
  padding: 20px 0;
}

.background-shipping {
  border-radius: 35px;
}

.circle_radio {
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  display: inline-block;
  position: relative;
}

.Black {
  background-color: #000000;
}

.White {
  background-color: #ffffff;
}

.Blue {
  background-color: #0000ff;
}

.Grey {
  background-color: #808080;
}

.Red {
  background-color: #ff0000;
}

.Green {
  background-color: #0c7439;
}

.Maroon {
  background-color: #800000;
}

.Olive {
  background-color: #808000;
}

.Yellow {
  background-color: #ffff00;
}

.Mustard {
  background-color: #d3a833;
}

.Pink {
  background-color: #ffc0cb;
}

.Orange {
  background-color: #e67e22;
}

.Silver {
  background-color: #c0c0c0;
}

.Teal {
  background-color: #008080;
}

.Rust {
  background-color: #531021;
}

.Brown {
  background-color: #a52a2a;
}

.Coral {
  background-color: #ff7f50;
}

.Peach {
  background-color: #cfbd95;
}

.Purple {
  background-color: #800080;
}

.Cream {
  background-color: #bdc3c7;
}

.Khaki {
  background-color: #f0e68c;
}

.Magenta {
  background-color: #ff00ff;
}

.Gold {
  background-color: #daa520;
}

.sea_green {
  background-color: #0f334b;
}

.Multi {
  background-color: #7f8c8d;
}

/* sanyam change */

.journey {
  font-weight: 600;
  font-size: 46px;
  line-height: 72px;
  text-align: center;
  color: #464646;
}

.offers-container {
  min-height: 85px;
  min-width: 200px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  border-radius: 25px;
  font-size: 16px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.5);
}

/* sanyam change end */

.summary-section {
  /* background: #ebebeb !important; */
  /* Note: backdrop-filter has minimal browser support */
  /* border-radius: 10px !important; */
}

.div-hide {
  display: none;
}

.shipping-navigator {
  width: 100%;
}

.personal-details {
  margin-bottom: 3%;
}

.font-shipping {
  margin-top: 2%;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.custom-alert {
  color: black;
  font-size: 22px;
  margin: 100px auto 0 auto;
  text-align: center;
  background: lightgray;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 20px 0;
}

.start-selling-description-custom {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

.large-radio {
  font-size: 20px;
  font-weight: 500;
}

.custom-panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px 20px;
  background: lightgray;
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
}

.next_hide {
  display: none;
}

.title-start-selling-box-custom {
  font-size: 24px;
  font-weight: 600;
}

.hideMe {
  display: none;
}

#fixedbutton {
  position: fixed;
  z-index: 1;
  right: 20px;
  margin-right: 4%;
}

.above-all {
  z-index: 1;
}

/* .background-gradient {
  background: linear-gradient(to right,
      #e1e2c5 0%,
      #f6e0ae 17%,
      #ffdfa5 28%,
      #ffdea8 42%,
      #ffdbc1 71%,
      #ffd5c8 100%);
} */

.Validation_error {
  color: red;
}

/* media query */

@media (max-width: 768px) {
  #bank_media {
    margin-top: 5%;
  }

  #ifsc_media {
    margin-top: 5%;
  }

  #fixedbutton {
    position: fixed;
    z-index: 1;
    right: 0px;
    /* margin-right: 4%; */
  }
}

@media (min-width: 768px) {
  .discount-rate {
    margin-top: -5;
  }
}

@media (max-width: 576px) {
  .custom-alert {
    font-size: 16px;
  }

  .add-to-wishlist-container {
    margin-bottom: 25px;
    cursor: pointer;
    padding: 18px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 25px;
    width: 45%;
    margin-left: 108px;
  }
}

@media (min-width: 768px) {
  .custom-alert {
    font-size: 16px;
  }

  #fixedbutton {
    position: fixed;
    z-index: 1;
    right: 0px;
  }
}

@media (max-width: 992px) {
  .custom-alert {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .custom-alert {
    font-size: 16px;
  }

  #fixedbutton {
    position: fixed;
    z-index: 1;
    right: 0px;
  }
}

@media (max-width: 700px) {
  .background-shipping {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1015%;
    border-radius: 35px;
  }

  .checkout-steps {
    margin: 0% 3% 0% 3% !important;
    width: 100% !important;
  }
}

.radio-toolbar input[type="radio"]:focus + label {
  border: 2px dashed #444;
}

@media (max-width: 600px) {
  .checkout-steps {
    margin: 0% 3% 0% 3% !important;
    width: 100% !important;
  }
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #007c05;
  border-color: #007c05;
  outline: none;
  color: white;
}

.radio-toolbar label {
  display: inline-block;
  background-color: white;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 10px;
  border-radius: 4px;
  border-radius: 20px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

/* -----------------------------------------progress-bar------------------------- */

.checkout-steps {
  margin: 2% 0 3% 34%;
  width: 40%;
  color: #696b79;
  padding: 0;
  display: inline-block;
  line-height: 20px;
}

.checkout-steps .active {
  color: #000;
  border-bottom: 1px solid #000;
}

.checkout-steps .step1 {
  margin: 0 5px 0 0;
}

.checkout-steps .step {
  display: inline-block;
  letter-spacing: 3px;
}

.checkout-steps .divider {
  display: inline-block;
  border-top: 1px dashed #696b79;
  height: 4px;
  width: 10%;
}

.header .checkout-steps .step2 {
  margin: 0 5px 0 6px;
}

.checkout-steps .step3 {
  margin: 0 0 0 7px;
}

.apply-block {
  background-color: #df911e !important;
  border-radius: 20px !important;
  color: #fff !important;
}

/*---------------------------------------------------------------------------------  */

/* -__----------------default-address---------------------------- */

.addressServiceability-base-container {
  font-size: 14px;
}

.addressBlocks-base-block {
  outline: none;
  padding: 19px 16px 0 48px;
  margin-bottom: 14px;
  vertical-align: top;
  position: relative;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: #20bd99;
}

.addressDetails-base-name {
  font-weight: 600;
  font-size: 14px;
  color: #282c3f;
  text-transform: capitalize;
  word-break: break-all;
}

.addressBlocks-base-radioIcon {
  position: absolute;
  left: 20px;
  top: 20px;
}

.addressBlocks-base-serviceable .addressBlocks-base-radioIcon {
  fill: #20bd99;
}

.addressDetails-base-desktopAddressTitle {
  display: flex;
  align-items: baseline;
}

.addressBlocks-base-addressDetail {
  margin-top: 12px !important;
}

.addressDetails-base-addressField {
  word-break: break-all;
}

.addressDetails-base-mobile {
  margin: 0px 0 0px;
}

.addressDetails-base-mobile :nth-child(2) {
  font-weight: 600;
}

.addressServiceability-base-bullet {
  display: inline-block;
  margin-right: 3px;
}

.addressDetails-base-addressType {
  font-size: 10px;
  padding: 2px 8px;
  border-radius: 20px;
  color: #03a685;
  font-weight: 600;
  border: 1px solid #03a685;
  margin-left: 8px;
  line-height: 12px;
}

.addressBlocks-base-btns {
  float: right;
  position: relative;
  margin: 16px 0;
}

.addressBlocks-base-edit,
.addressBlocks-base-remove {
  color: #282c3f;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  background: transparent;
  cursor: pointer;
  border: 1px solid #282c3f;
  border-radius: 4px;
  padding: 6.5px 16px;
}

.addressBlocks-base-edit {
  width: 58px;
  margin-left: 16px;
}

/* ------------------------------------------------------------------- */

.test {
  /* /background-image: url('assets/img/background3.png');/  */
  background-size: 100%;
  background-repeat: repeat;
}

.image1 {
  width: 72%;
  margin-left: 13%;
  margin-top: 0%;
}

.register-btn {
  margin-top: 4%;
  color: WHITE;
  font-size: 30px;
  width: 39%;
  border-radius: 20px;
  background-color: #ffac14;
  border-color: orange;
  outline: none;
  font-weight: 900;
  height: 52px;
  margin-bottom: 10%;
}

.text {
  padding-top: 10px;
}

.seller-name {
  font-size: 16px;
  font-weight: 600;
  /* margin-left: 10%; */
}

.text1 {
  margin-top: 2%;
  padding-left: 13%;
  padding-right: 10%;
  font-size: 26px;
  margin-bottom: 4%;
}

#unq_icons {
  width: 62%;
  margin-top: -3%;
  margin-right: 15%;
}

#small_icons {
  width: auto;
  margin-right: 12%;
  margin-top: 10%;
}

#home-icon {
  margin-top: 15%;
  font-size: 100px;
}

#home-icon1 {
  margin-top: 2%;
  font-size: 145px;
}

.text-ghar {
  margin-top: 1%;
  font-size: 60px;
  font-family: bold;
  font-weight: bold;
}

.text-auto {
  text-align: center !important;
  /* margin: auto; */
  /* word-spacing: 4px; */
}

.levi-text {
  margin-top: 3%;
  font-size: 26px;
  font-family: "Montserrat";
  font-weight: bold;
  word-spacing: 2px;
}

.levi-text1 {
  font-size: 17px;
  font-weight: 100;
  padding-left: 15%;
  padding-right: 15%;
  line-height: 29px;
  word-spacing: 4px;
}

.levi-text2 {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}

.levi-text3 {
  color: red;
  font-weight: bold;
  font-size: 70px;
  font-family: "Courier New", cursive;
  font-style: italic;
}

.color {
  background-color: black;
  width: 46%;
  border-radius: 50%;
  margin-left: 28%;
}

.image2 {
  width: 110%;
  margin-left: -6%;
  margin-top: -4%;
}

.image4 {
  width: 100%;
  margin-left: 0%;
}

.image5 {
  width: 75%;
  margin-top: 12%;
}

.image6 {
  max-width: 95%;
  height: auto;
  margin-top: 5%;
  margin-left: 6%;
}

.image7 {
  width: 100%;
}

@media (max-width: 500px) {
  .image6 {
    max-width: 98% !important;
    height: auto;
    margin-top: 5%;
    margin-left: 6%;
  }
}

@media (max-width: 500px) {
  .text-fam {
    font-size: 30px !important;
    padding-top: 118px;
  }

  .text-punch {
    font-size: 30px !important;
    padding-top: 220px;
  }
}

@media (max-width: 500px) {
  .left-about-desc {
    font-size: 10px !important;
  }
}

.row1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.text-fam {
  font-size: 60px;
  padding-top: 30px;
  font-weight: bold;
}

.text-punch {
  font-size: 60px;
  font-weight: bolder;
  padding-top: 45px;
  word-spacing: 5px;
}

.reason {
  margin-left: 17%;
  margin-top: 16%;
}

.second {
  text-indent: 0%;
}

.heading {
  margin-left: 5%;
  margin-top: 5%;
}

.left-about-desc {
  font-size: 16px;
  margin-left: -3%;
}

.text-faq {
  font-size: 70px;
  text-align: center;
  margin-top: 20px;
}

.seller-name {
  font-size: 16px;
  font-weight: 600;
}

#seller-image {
  border-radius: 50%;
}

@media (max-width: 768px) {
  #seller-image {
    width: 80px;
    height: 73px;
  }
}

#prompt {
  margin-top: 46px;
}

.buttons {
  background-color: #df911e;
  border-color: #df911e;
  color: white;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
  font-weight: bolder;
  font-size: medium;
  margin-top: 9%;
}

.buttons-help {
  background-color: #43a041;
  border-color: #43a041;
  color: white;
  padding: 10px 90px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
  font-weight: bolder;
  font-size: medium;
}

.col-md-12 {
  padding-left: 0px;
}

#eren {
  padding-top: 120px;
}

.btn-select-dropdown {
  top: -36px;
}

.btn-select-dropdown select {
  display: inline-block;
  width: 100%;
  height: 32px;
  padding: 6px 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' fill='%23444' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: right 10px center;
  border: 1px solid #ced4da;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

/* css for table style */

tr.rock th {
  background-color: #fdfdfda4;
  backdrop-filter: blur(10px);
}

tr.rock th:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

tr.rock th:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

tr.exit td {
  background-color: #fdfdfda4;
  backdrop-filter: blur(10px);
}

tr.exit td:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

tr.exit td:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.ewa {
  border-collapse: separate;
  border-spacing: 0 20px;
  width: 100%;
}

/* .select-option {
    padding: 4px 7px;
    font-size: 11px;
    padding-right: 2%;
    border-radius: 20px;
} */

.white-box {
}
#check_availability {
  color: #fff;
  position: relative;
  top: 8px;
  right: 8px;
  font-weight: bold;
}

.delivery-date-container {
  min-height: 55px;
  min-width: 200px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 18px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  background: #ebebeb;
}

.offers-container {
  min-height: 85px;
  min-width: 200px;
  margin-bottom: 25px;
  /* background-color:#f9f9f9; */
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 18px;
  border-radius: 10px;
  font-size: 16px;
  background: #ebebeb;
}

.coupons-container {
  min-height: 120px;
  min-width: 200px;
  margin-bottom: 25px;
  /* background-color:#f9f9f9; */
  display: flex;
  justify-content: space-between;
  padding: 9px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.5);
}

.apply-block {
  background-color: #df911e !important;
  border-radius: 20px !important;
  color: #fff !important;
}

.coupons {
  padding-left: 25px;
  font-size: 15px;
  font-weight: normal;
}

.lbl-price-new {
  font-style: normal;
  font-weight: bold;
  /* position: relative;
    display: block;
    float: left; */
  font-size: 15px;
  line-height: 30px;
}

.discount-original-price-new {
  font-weight: 700;
  color: #919191;
  position: relative;
  margin-right: 5px;
  font-size: 15px;
}

.discount-rate {
  float: right;
  color: #007c05;
  margin-top: -15%;
}
.btn-lg-new {
  background-color: black;
  color: #fff;
}
.discount-rate-cart-new {
  color: #007c05;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}

.number-spinner-new {
  width: 100px;
  height: 44px;
  border: 1px solid #e4e4e4;
  border-radius: 0.1875rem;
  float: left;
}

.qty-block {
  border-radius: 20px !important;
  color: rgb(0, 0, 0) !important;
}

.add-to-wishlist-container {
  margin-bottom: 25px;
  align-items: center;
  cursor: pointer;
  padding: 18px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 25px;
  width: 35%;
  margin-left: 29%;
}
/* 
.summary-section {
  background: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(20px) !important;
  border-radius: 15px !important;
} */

.summary-section-disclaimer {
  backdrop-filter: blur(20px) !important;
  border-radius: 15px !important;
  border: 1px solid #007c05;
  margin: 10px 0 20px 0;
  padding-bottom: 5px;
}

.checkout-steps {
  margin: 2% 0 3% 34%;
  width: 40%;
  color: #696b79;
  padding: 0;
  display: inline-block;
  line-height: 20px;
}

.checkout-steps .active {
  color: #000;
  border-bottom: 1px solid #000;
}

.checkout-steps .step1 {
  margin: 0 5px 0 0;
}

.checkout-steps .step {
  display: inline-block;
  letter-spacing: 3px;
}

.checkout-steps .divider {
  display: inline-block;
  border-top: 1px solid #696b79;
  height: 5px;
  width: 10%;
}

.header .checkout-steps .step2 {
  margin: 0 5px 0 6px;
}

.checkout-steps .step3 {
  margin: 0 0 0 7px;
}

input[type="checkbox"][readonly] {
  pointer-events: none;
}

.wishlist-products {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #000000;
}

.journey {
  font-weight: 600;
  font-size: 46px;
  line-height: 72px;
  text-align: center;
  color: #464646;
}

@media (max-width: 768px) {
  .journey {
    font-weight: 600;
    font-size: 23px;
    line-height: 72px;
    text-align: center;
    color: #464646;
  }

  .wishlist-products {
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 39px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  .no-products {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 900px) {
  .veg-non-veg {
    position: relative;
    left: 9px;
    top: 46px;
  }
}

.barter-class-new {
  margin-top: 10px;
  min-height: 600px;
  padding: 34px;
  /* border-radius: 33px;
    border: 1px solid #eaeaec; */
  background-image: url("../img/card_backGround.png");
}

.barter-image {
  border-radius: 200px;
  width: 200px;
  height: 200px;
}

.follow-button {
  background-color: #df911e !important;
  border-radius: 20px !important;
  color: #fff !important;
}

.no-products {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}

.product-margin {
  padding: 3px;
  margin-right: 35px;
}

#boxbg {
  padding-left: 4%;
}

.table-responsive > .even {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.row-new-view > .even {
  border-collapse: separate;
  border-spacing: 0 10px;
}

/* ----------------------------coupons------------------------------------------ */

.coupon-card {
  background: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(20px) !important;
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px !important;
  padding: 0% 2%;
  margin-bottom: 10px;
  color: #282c3f;
}

.coupon-off-component {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 29%;
  max-width: 100px;
  color: maroon;
  border-right: 1px solid #d4d5d9;
}

.sprites-couponBackGroundImage {
  font-size: 22px;
  padding-top: 3%;
  height: 90px;
  width: 80px;
}

.coupon-info {
  padding: 20px 0px 10px 10px;
  display: inline-block;
  width: 80%;
}

.coupon-purchase-info {
  margin: 10px 0px;
}

.coupon-label {
  font-size: 28px;
  color: #7e818c;
}

.coupon-coupon-code {
  text-transform: uppercase;
  word-wrap: break-word;
  color: maroon;
}

.coupon-coupon-detail {
  border-top: 1px solid #d4d5d9;
  padding: 15px 0px;
}

.coupon-expiry-date {
  font-weight: 800;
  color: #696e79;
  border-right: 1px solid #d4d5d9;
  padding-right: 5px;
}

.coupon-details {
  cursor: pointer;
  float: right;
  font-weight: 800;
  color: #526cd0;
}

.coupon-coupon-detail > ul {
  margin: 10px 0px 0px -22px;
}

.coupon-coupon-detail > ul > li {
  list-style-type: disc;
}

.coupon_code {
  outline: none;
  border-color: transparent;
  font-size: 30px;
  width: 68%;
  background: inherit;
}

.copy_code {
  outline: none;
  background: inherit;
  border-color: transparent;
  font-size: 22px;
}

.copy_button {
  background: inherit;
  border-color: transparent;
}

.dropdown {
  float: right;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 15px;
  border-radius: 20px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 20px;
}

.dropdown-content a:hover {
  background-color: #b09d9d2e;
}

.show {
  display: block;
}

#cover-spin,
#cover-spin1,
#cover-spin2,
#cover-spin3,
#cover-spin4 {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#cover-spin::after,
#cover-spin1::after,
#cover-spin2::after,
#cover-spin3::after,
#cover-spin4::after {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: black;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin 0.15s linear infinite;
  animation: spin 0.8s linear infinite;
}

.cod_text {
  font-size: 16px;
  font-weight: 500;
  color: indianred;
  margin-left: 25px;
}

.btn-alignment-sort {
  text-align: right;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.btn-padding-sort {
  padding-right: 0 !important;
  padding-left: 0 !important;
  text-align: center;
}

/* .dropdown-submenu:hover>.dropdown-menu{
    display: block;
} */

.more_products {
  color: white;
}

.more_products:hover {
  color: rgb(0, 0, 0);
}

/*pagination numbers*/
#as-per-figma {
  height: 45px;
  border-radius: 22px;
  background-color: #007c05;
  margin: 5px;
  width: 45px;
}
#as-per-figma-2 {
  height: 45px;
  border-radius: 22px;
  margin: 5px;
  width: 45px;
  background-color: #888;
}
@media (max-width: 700px) {
  #as-per-figma-2 {
    background-color: #007c05;
  }
  #as-per-figma {
    background-color: #007c05;
  }
}
/* #pre-next {
  height: 23px;
  border-radius: 22px;
  background-color: #df911e;
  margin: 5px;
  width: 23px;
  line-height: 0.5;
} */

#verify_otp {
  margin-top: 3%;
}

#arrow {
  color: rgb(0, 0, 0) !important;
}

.verifyModalWidth {
  text-align: center;
  border-radius: 20px;
}

.otp_field_width {
  max-width: 25% !important;
}

@media (max-width: 768px) {
  .otp_field_width {
    max-width: 45% !important;
  }
}

.verify_btn_margin {
  margin-right: 2%;
  margin-left: 2%;
}

/* register login mobile button */
#cta_color {
  color: #0000ff;
}

.phn_number_cart {
  max-width: 40%;
}

@media (max-width: 768px) {
  .phn_number_cart {
    max-width: 60%;
  }
  .two-for-mobile {
    flex: 50% !important;
    max-width: 50% !important;
  }
}

.two-for-mobile {
  flex: 33%;
  max-width: 33%;
}

.center_vertical {
  display: flex;
  justify-content: center;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.product-details-text {
  font-weight: 600;
}

.btn-product-wishlist {
  background-color: #fff !important;
  border: 1px solid #007c05;
  margin: 10px 0px;
  font-weight: 600;
  padding-left: 0px;
  padding-right: 0px;
}

.btn-product-cart {
  background-color: #007c05 !important;
  margin: 10px 0px;
  font-weight: 600;
  color: #fff;
}

.input-product-pincode {
  border-radius: 0px;
}

.input-flat-border {
  border-radius: 0px;
}

.webOrderView {
  display: block;
}

.mobileOrderView {
  display: none;
}

@media (max-width: 992px) {
  .webOrderView {
    display: none;
  }

  .mobileOrderView {
    display: block;
  }
}

.product-description-img {
  height: 45px;
  width: 100%;
  text-align: center;
}

.product-description-img > img {
  max-height: 100%;
  max-width: 100%;
}

.product-decription-text {
  font-size: 15px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .product-decription-text {
    font-size: 13px;
  }
}

/* style for category pages */
@media (max-width: 768px) {
  #only-for-mobile {
    display: flex !important;
  }

  .shop_by_seller_imgs {
    width: 100% !important;
    border-radius: 15px;
  }

  .style-for-seller {
    font-size: 20px !important;
  }

  .categories-for-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-between;
    padding: 0px;
    overflow-x: scroll;
  }

  .product-margin {
    padding: 3px;
    margin-right: 0px;
  }
}

#only-for-mobile {
  display: none;
}

.categories_imgs {
  border-radius: 14px;
}

.categories_spacing {
  padding: 0px 6px;
}

.categories-text {
  font-size: 12px;
}

.shop_by_seller_imgs {
  width: 90%;
  border-radius: 15px;
}

.shop-by-center {
  text-align: center;
  place-content: center;
}

.shop-by-seller-heading {
  padding: 0 18px;
  margin-top: 20px;
}

.all-in-categoty {
  border: 1px solid #454545;
  border-radius: 20px;
  padding: 5px;
  width: auto;
  /* min-width: 60px; */
  margin: 0px 6px;
  color: #454545;
  cursor: pointer;
  font-weight: bold;
  flex-wrap: nowrap;
  text-align: center;
  /* word-break: break-all; */
  white-space: nowrap;
}

.btn-view-more-new {
  background-color: #fff;
  border-color: #fff;
  border-radius: 20px;
}

.view-new-text {
  color: black;
  font-weight: bold;
}

#shop_category_style {
  font-size: 16px;
}
#shop_category_p_style {
  margin-top: 6px;
}

.category_page_title {
  font-weight: bolder;
  font-size: large;
  margin: 10px 0px;
}
